.sidebar
  .clearfix.text-center.text-lg.head-lg.gtr-t
    %a.link-base(href='/#/')= icon :bitcoin_ticket
  .gtr-hor.gtr-ver.font-light
    %a.sidebar-link(href='/#/') {{::"js.sidebar.marketplace" | translate}}
    %a.sidebar-link(href='/#/assets') {{::"js.sidebar.my_tickets" | translate}}
    %a.sidebar-link(href='/#/wallets') {{::"js.sidebar.wallets" | translate}}
    %a.sidebar-link(href='/#/settings') {{::"js.sidebar.settings" | translate}}
