.bg-white.gtr-hor.gtr-ver-xs.box-ticket
  .tbl
    .tbl-cell.cell-8.align-middle
      {{::wif.address}}
      .font-bold {{::wif.balance}}
    .tbl-cell.cell-4.text-right.align-middle
      .smile.align-middle.gtr-l-sm
        %a(href title="{{::'js.wallets.show_wif' | translate}}" ng-click="showWif(wif)" ng-if='!wif.wif')= icon :eye
      .smile.align-middle.gtr-l-sm
        %a.link-red(href title="{{::'js.helpers.delete' | translate}}")= icon :trash
  .gtr-t-xs.text-sm.font-bold(ng-show="wif.wif") {{wif.wif}}
