.box-tickets.bg-white
  .gtr-hor.gtr-ver
    .gtr-b-sm
      .gtr-b-sm.text-lg.border-b.border-light.row.gtr-hor {{::"js.tickets.create" | translate}}
    %form(name="newTicketForm")
      .row.gtr-b
        .col-xs-4
          .bg-light.box-ticket.ticket-icon(ngf-select="" ng-model="newTicket.picture" name="file" accept="image/*") 
            .tbl
              .tbl-cell.align-middle.cursor-pointer.text-center
                %span(ng-if='!newTicket.picture')
                  .clearfix.head-md=icon :image
                  .clearfix {{::'js.tickets.upload_picture' | translate}}
                %span(ng-if="newTicket.picture")
                  %img(ngf-src="newTicket.picture")
        .col-xs-8
          .clearfix
            %label.form-label.required
              .form-label-text {{::'js.tickets.name' | translate}}
              %input.form-control(type="text" required ng-model="newTicket.name")
          .row
            .col-xs-6
              %label.form-label.required
                .form-label-text {{::'js.tickets.company_name' | translate}}
                %input.form-control(type="text" required ng-model="newTicket.company_name")
            .col-xs-6
              %label.form-label.required
                .form-label-text {{::'js.tickets.issuer' | translate}}
                %input.form-control(type="text" required ng-model="newTicket.issuer")
          .clearfix
            %label.form-label.required
              .form-label-text {{::'js.tickets.description' | translate}}
              %input.form-control(type="text" required ng-model="newTicket.description")
      .row.gtr-t.border-t.border-light
        .col-xs-4
          %label.form-label.required
            .form-label-text {{::'js.tickets.amount' | translate}}
            %input.form-control(type="number" required ng-model="newTicket.amount")
        .col-xs-4
          %label.form-label.required
            .form-label-text {{::'js.tickets.fee' | translate}}
            %input.form-control(type="number" required ng-model="newTicket.fee")
        .col-xs-4
          %label.form-label.required
            .form-label-text {{::'js.tickets.profit_margin' | translate}}
            %input.form-control(type="number" required ng-model="newTicket.profit_margin")
      .clearfix
        %label.form-label.required
          .form-label-text {{::'js.tickets.wif_id' | translate}}
          %select.form-control(ng-model="newTicket.wif_id")
            %option(ng-repeat="wif in $root.user.wifs track by wif.id" ng-value="wif.id") {{wif.address}}
      .clearfix
        .row.gtr-t-sm
          .col-xs-4.pull-right
            %button.btn.btn-block.btn-primary(type="button" ng-click="createTicket(newTicket)" ng-disabled="!newTicketForm.$valid") {{::"js.helpers.submit" | translate}}
