.box-ticket.bg-white(ng-init="formShown=false")
  .row
    .col-xs-8
      .tbl
        .tbl-cell.cell-8.align-top
          .gtr-hor-sm.gtr-ver-sm
            .clearfix
              .smile.align-middle
                %b.text-md {{ticket.name}}
                %span(ng-if="ticket.asset_id") ({{ticket.asset_id}})
              .smile.align-middle.gtr-l-xs
                .label(ng-class="ticket.is_issued ? 'label-success' : 'label-default'")
                  {{"js.tickets.states." + ticket.state | translate}}
            .gtr-t-sm.text-sm
              .tbl(ng-if="!marketplace")
                .tbl-cell.bg-light.gtr-ver-xs.gtr-hor-sm.box-xs {{::"js.tickets.amount" | translate}}
                .tbl-cell.gtr-ver-xs.gtr-hor-sm {{ticket.amount}}
              .tbl(ng-if="!marketplace")
                .tbl-cell.bg-light.gtr-ver-xs.gtr-hor-sm.box-xs {{::"js.tickets.asset_id" | translate}}
                .tbl-cell.gtr-ver-xs.gtr-hor-sm {{ticket.id}}
              .tbl
                .tbl-cell.bg-light.gtr-ver-xs.gtr-hor-sm.box-xs {{::"js.tickets.description" | translate}}
                .tbl-cell.gtr-ver-xs.gtr-hor-sm {{ticket.description}}
              .tbl
                .tbl-cell.bg-light.gtr-ver-xs.gtr-hor-sm.box-xs {{::"js.tickets.profit_margin" | translate}}
                .tbl-cell.gtr-ver-xs.gtr-hor-sm {{ticket.profit_margin}}
              .tbl
                .tbl-cell.bg-light.gtr-ver-xs.gtr-hor-sm.box-xs {{::"js.tickets.issuer" | translate}}
                .tbl-cell.gtr-ver-xs.gtr-hor-sm {{ticket.issuer}}
              .tbl
                .tbl-cell.bg-light.gtr-ver-xs.gtr-hor-sm.box-xs {{::"js.tickets.company_name" | translate}}
                .tbl-cell.gtr-ver-xs.gtr-hor-sm {{ticket.company_name}}
    .col-xs-4.text-right(ng-if="ticket.picture_url")
      .gtr-hor.gtr-ver
        %img(ng-src="{{ticket.picture_url}}") 
  .gtr-b.text-right.gtr-hor(ng-if="!marketplace")
    %span(ng-show="!ticket.waiting")
      %span(ng-if="!ticket.is_issued")
        %button.btn.btn-default(ng-click="issueAsset(ticket)") 
          {{::"js.tickets.issue_asset" | translate}}
          = icon :paper_plane, class: 'text-sm'
      %span(ng-if="ticket.is_published && ticket.is_issued")
        %button.btn.btn-default(ng-click="toggleAsset(ticket)")
          {{::"js.tickets.unpublish" | translate}}
      %span(ng-if="!ticket.is_published && ticket.is_issued")
        %button.btn.btn-success(ng-click="toggleAsset(ticket)")
          {{::"js.tickets.publish" | translate}}
      %span(ng-if="ticket.is_issued && ticket.user_id==$root.user.id")
        %button.btn.btn-primary(ng-click="sendTicketModal.show()")
          {{::"js.tickets.send_this" | translate}}
      %button.btn.btn-danger(ng-click="confirmModal.show()" title="{{::'js.helpers.delete' | translate}}")=icon :trash
    .pull-right(ng-show="ticket.waiting" style="height: 3.5rem;")
      .gtr-t.gtr-hor-sm(spinner ng-show="ticket.waiting")
  .gtr-b.text-right.gtr-hor(ng-if="marketplace" marketplace-ticket ticket="$parent.ticket")
