.box-tickets.bg-white
  .gtr-hor.gtr-ver
    .gtr-b-sm
      .gtr-b-sm.text-lg.border-b.border-light.row.gtr-hor {{::"js.users.update" | translate}}
    %form(name="userSettings")
      .row
        .col-xs-6
          %label.form-label
            .form-label-text {{::'js.users.name' | translate}}
            %input.form-control(type="text" ng-model="$root.user.name")
        .col-xs-6
          %label.form-label
            .form-label-text {{::'js.tickets.company_name' | translate}}
            %input.form-control(type="text" ng-model="$root.user.company_name")
      .clearfix
        .row.gtr-t-sm
          .col-xs-4.pull-right
            %button.btn.btn-block.btn-primary(type="button" ng-click="updateUser($root.user)" ng-disabled="!userSettings.$valid") {{::"js.helpers.submit" | translate}}
