.clearfix
  .gtr-b-sm
    .text-lg
      .text-lg My Tickets
  .text-line(ng-if="user")
    %create-ticket-form(tickets="tickets")
  .text-line
    .gtr-b-sm(ng-repeat="(key, ticket) in tickets track by ticket.id")
      %ticket
