.clearfix
  .text-line
    .gtr-b-sm
      .text-lg
        .page-title.text-lg {{::"js.pages.wallets" | translate}}
  .text-line.row-hor-sm
    %form.tbl(name="newWif")
      .tbl-cell.align-bottom.cell-12.gtr-hor-sm
        %label.form-label.required
          .form-label-text {{::"js.wallets.import_wif" | translate}}
          %input.form-control(type="test" ng-model="newWif.wif" required)
      .tbl-cell.align-bottom.gtr-hor-sm
        .gtr-b-sm
          %button.btn.btn-primary(ng-click="importWif(newWif.wif)" ng-disabled="!newWif.$valid || importing") 
            {{::"js.helpers.import" | translate}}
      .tbl-cell.align-bottom.gtr-hor-sm
        .gtr-b-sm
          %button.btn.btn-primary(ng-show="!importing" type="button" ng-click="generateWif()") {{::"js.wallets.generate_new" | translate}}
          .tbl(spinner style="width: 17.3rem;" ng-show="importing")
    
  .clearfix
    .gtr-b-sm(ng-repeat="wif in wifs track by wif.id")
      %wif-item
