.clearfix
  .text-line
    .gtr-b-sm
      .text-lg
        .page-title.text-lg {{::"js.pages.marketplace" | translate}}
  .text-line
    .gtr-b-sm(ng-repeat="(key, ticket) in tickets track by ticket.id")
      %ticket
