%span
  %button.btn.btn-success(type="button" ng-click="purchaseModal.show()")
    .smile.align-middle.gtr-r-sm=icon :shopping_cart
    .smile.align-middle
      {{::"js.marketplace.purchase" | translate}}
