.#{$icomoon-prefix}-eye { 
  &:before {
    content: $icon-eye;
  }
}
.#{$icomoon-prefix}-link { 
  &:before {
    content: $icon-link;
  }
}
.#{$icomoon-prefix}-picture-o { 
  &:before {
    content: $icon-picture-o;
  }
}
.#{$icomoon-prefix}-minus { 
  &:before {
    content: $icon-minus;
  }
}
.#{$icomoon-prefix}-cogs2 { 
  &:before {
    content: $icon-cogs2;
  }
}
.#{$icomoon-prefix}-wrench { 
  &:before {
    content: $icon-wrench;
  }
}
.#{$icomoon-prefix}-refresh { 
  &:before {
    content: $icon-refresh;
  }
}
.#{$icomoon-prefix}-sign-out { 
  &:before {
    content: $icon-sign-out;
  }
}
.#{$icomoon-prefix}-sign-in { 
  &:before {
    content: $icon-sign-in;
  }
}
.#{$icomoon-prefix}-chevron-right { 
  &:before {
    content: $icon-chevron-right;
  }
}
.#{$icomoon-prefix}-chevron-left { 
  &:before {
    content: $icon-chevron-left;
  }
}
.#{$icomoon-prefix}-chevron-down { 
  &:before {
    content: $icon-chevron-down;
  }
}
.#{$icomoon-prefix}-chevron-up { 
  &:before {
    content: $icon-chevron-up;
  }
}
.#{$icomoon-prefix}-windows { 
  &:before {
    content: $icon-windows;
  }
}
.#{$icomoon-prefix}-android { 
  &:before {
    content: $icon-android;
  }
}
.#{$icomoon-prefix}-user-plus { 
  &:before {
    content: $icon-user-plus;
  }
}
.#{$icomoon-prefix}-gift { 
  &:before {
    content: $icon-gift;
  }
}
.#{$icomoon-prefix}-area-chart { 
  &:before {
    content: $icon-area-chart;
  }
}
.#{$icomoon-prefix}-table { 
  &:before {
    content: $icon-table;
  }
}
.#{$icomoon-prefix}-apple { 
  &:before {
    content: $icon-apple;
  }
}
.#{$icomoon-prefix}-close { 
  &:before {
    content: $icon-close;
  }
}
.#{$icomoon-prefix}-check { 
  &:before {
    content: $icon-check;
  }
}
.#{$icomoon-prefix}-video-camera { 
  &:before {
    content: $icon-video-camera;
  }
}
.#{$icomoon-prefix}-user { 
  &:before {
    content: $icon-user;
  }
}
.#{$icomoon-prefix}-twitter { 
  &:before {
    content: $icon-twitter;
  }
}
.#{$icomoon-prefix}-trash-o { 
  &:before {
    content: $icon-trash-o;
  }
}
.#{$icomoon-prefix}-dashboard { 
  &:before {
    content: $icon-dashboard;
  }
}
.#{$icomoon-prefix}-clock-o { 
  &:before {
    content: $icon-clock-o;
  }
}
.#{$icomoon-prefix}-tachometer { 
  &:before {
    content: $icon-tachometer;
  }
}
.#{$icomoon-prefix}-street-view { 
  &:before {
    content: $icon-street-view;
  }
}
.#{$icomoon-prefix}-sort-asc { 
  &:before {
    content: $icon-sort-asc;
  }
}
.#{$icomoon-prefix}-sort-desc { 
  &:before {
    content: $icon-sort-desc;
  }
}
.#{$icomoon-prefix}-sort-numeric-desc { 
  &:before {
    content: $icon-sort-numeric-desc;
  }
}
.#{$icomoon-prefix}-sort-numeric-asc { 
  &:before {
    content: $icon-sort-numeric-asc;
  }
}
.#{$icomoon-prefix}-sort-alpha-desc { 
  &:before {
    content: $icon-sort-alpha-desc;
  }
}
.#{$icomoon-prefix}-sort { 
  &:before {
    content: $icon-sort;
  }
}
.#{$icomoon-prefix}-sort-alpha-asc { 
  &:before {
    content: $icon-sort-alpha-asc;
  }
}
.#{$icomoon-prefix}-signal { 
  &:before {
    content: $icon-signal;
  }
}
.#{$icomoon-prefix}-search { 
  &:before {
    content: $icon-search;
  }
}
.#{$icomoon-prefix}-mail-reply { 
  &:before {
    content: $icon-mail-reply;
  }
}
.#{$icomoon-prefix}-repeat { 
  &:before {
    content: $icon-repeat;
  }
}
.#{$icomoon-prefix}-plus { 
  &:before {
    content: $icon-plus;
  }
}
.#{$icomoon-prefix}-play { 
  &:before {
    content: $icon-play;
  }
}
.#{$icomoon-prefix}-image { 
  &:before {
    content: $icon-image;
  }
}
.#{$icomoon-prefix}-pencil { 
  &:before {
    content: $icon-pencil;
  }
}
.#{$icomoon-prefix}-pause { 
  &:before {
    content: $icon-pause;
  }
}
.#{$icomoon-prefix}-list { 
  &:before {
    content: $icon-list;
  }
}
.#{$icomoon-prefix}-linkedin { 
  &:before {
    content: $icon-linkedin;
  }
}
.#{$icomoon-prefix}-cogs { 
  &:before {
    content: $icon-cogs;
  }
}
.#{$icomoon-prefix}-facebook { 
  &:before {
    content: $icon-facebook;
  }
}
.#{$icomoon-prefix}-exchange { 
  &:before {
    content: $icon-exchange;
  }
}
.#{$icomoon-prefix}-download { 
  &:before {
    content: $icon-download;
  }
}
.#{$icomoon-prefix}-copy { 
  &:before {
    content: $icon-copy;
  }
}
.#{$icomoon-prefix}-archive { 
  &:before {
    content: $icon-archive;
  }
}
.#{$icomoon-prefix}-angle-down { 
  &:before {
    content: $icon-angle-down;
  }
}
.#{$icomoon-prefix}-angle-up { 
  &:before {
    content: $icon-angle-up;
  }
}
.#{$icomoon-prefix}-angle-right { 
  &:before {
    content: $icon-angle-right;
  }
}
.#{$icomoon-prefix}-angle-left { 
  &:before {
    content: $icon-angle-left;
  }
}
.#{$icomoon-prefix}-radio-checked { 
  &:before {
    content: $icon-radio-checked;
  }
}
.#{$icomoon-prefix}-html5 { 
  &:before {
    content: $icon-html5;
  }
}
.#{$icomoon-prefix}-check2 { 
  &:before {
    content: $icon-check2;
  }
}

