$icon-eye: "\e93c";
$icon-link: "\e93b";
$icon-picture-o: "\e93a";
$icon-minus: "\e939";
$icon-cogs2: "\e937";
$icon-wrench: "\e938";
$icon-refresh: "\e936";
$icon-sign-out: "\e934";
$icon-sign-in: "\e935";
$icon-chevron-right: "\e930";
$icon-chevron-left: "\e931";
$icon-chevron-down: "\e932";
$icon-chevron-up: "\e933";
$icon-windows: "\e92e";
$icon-android: "\e92f";
$icon-user-plus: "\e92c";
$icon-gift: "\e92d";
$icon-area-chart: "\e92a";
$icon-table: "\e92b";
$icon-apple: "\e927";
$icon-close: "\e926";
$icon-check: "\e925";
$icon-video-camera: "\e901";
$icon-user: "\e902";
$icon-twitter: "\e903";
$icon-trash-o: "\e904";
$icon-dashboard: "\e905";
$icon-clock-o: "\e906";
$icon-tachometer: "\e907";
$icon-street-view: "\e908";
$icon-sort-asc: "\e909";
$icon-sort-desc: "\e90a";
$icon-sort-numeric-desc: "\e90b";
$icon-sort-numeric-asc: "\e90c";
$icon-sort-alpha-desc: "\e90d";
$icon-sort: "\e90e";
$icon-sort-alpha-asc: "\e90f";
$icon-signal: "\e910";
$icon-search: "\e911";
$icon-mail-reply: "\e912";
$icon-repeat: "\e913";
$icon-plus: "\e914";
$icon-play: "\e915";
$icon-image: "\e916";
$icon-pencil: "\e917";
$icon-pause: "\e918";
$icon-list: "\e919";
$icon-linkedin: "\e91a";
$icon-cogs: "\e91b";
$icon-facebook: "\e91c";
$icon-exchange: "\e91d";
$icon-download: "\e91e";
$icon-copy: "\e91f";
$icon-archive: "\e920";
$icon-angle-down: "\e921";
$icon-angle-up: "\e922";
$icon-angle-right: "\e923";
$icon-angle-left: "\e924";
$icon-radio-checked: "\e929";
$icon-html5: "\e900";
$icon-check2: "\e928";

